.country-details {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .btn {
    box-shadow: -1px 1px 5px 2px #e4e4e4;
    margin-right: auto;
    margin-left: 1.1em;
    padding: 0.4em 1.2em;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 4em;
    border-radius: 0.3em;
    color: #837f7f;
    border: 1px solid #cecaca;
    background-color: #fff;
    cursor: pointer;
    .fa-long-arrow-alt-left {
      margin-right: 0.7em;
    }
  }
  .one-country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 20em;
      margin-left: auto;
      margin-right: auto;
    }
    .meta {
      margin-top: 2em;
      h2 {
        width: 320px;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        span {
          font-weight: 600;
        }
      }
    }
    .extra {
      p {
        span {
          font-weight: 600;
        }
      }
    }
    h4 {
      margin-left: 0em;
    }
    .border {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1em;
      button {
        box-shadow: 1px -1px 5px 1px #e8e8e8;
        padding: 0.4em 0.8em;
        border: 1px solid #dedede;
        border-radius: 0.3em;
        background-color: #fff;
        cursor: pointer;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}
