.countries {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  a {
      text-decoration: none;
      color: inherit;
  }
  .country {
    box-shadow: -1px 1px 5px 2px #e4e4e4;
    margin-bottom: 2em;
    border-radius: .4em;
    img {
      width: 16em;
      //   height: 10em;
    }
    .content {
      padding: 1em;
      h2 {
        font-size: 1.2em;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        span {
          font-weight: 500;
        }
      }
    }
    // dark mode 
    .color_toggle {
      background-color: #2b3843;
        
    }
  }
//   dark mode

.color_change {
    box-shadow: -3px 0px 13px 4px #1b252c;

}
}
